<div class="well" ng-controller="DomainNameFormController as domainNameForm">
  <form>
    <div class="form-group form-inline">
      <label for="domain-name">Enter domain name, please</label>
      <input class="form-control" id="domain-name" name="domain_name" placeholder="i.e. google.com" ng-model="domainNameForm.domainName">
      <button type="submit" class="btn btn-default" ng-click="domainNameForm.getDomainNameInfo()">Submit</button>
      <button class="btn btn-default" ng-click="domainNameForm.revealWatchList()">Reveal WatchList</button>
    </div>
  </form>
  <div class="well" ng-show ="domainNameInfo">
    <h2>{{domainNameInfo.domain_name}}</h2>
    <p>Domain name status: {{domainNameInfo.status}}</p>
    <p ng-show="domainNameInfo.created_on">
      Created on: {{domainNameInfo.created_on}}</p>
    <p ng-show="domainNameInfo.expires_on">
      Expires on: {{domainNameInfo.expires_on}}</p>
    <p ng-show="domainNameInfo.contact_email">
      Contact email: {{domainNameInfo.contact_email}}</p>
    <p ng-show="domainNameInfo.contact_name">
      Contact name: {{domainNameInfo.contact_name}}</p>
    <p ng-show="domainNameInfo.contact_phone">
      Contact phone: {{domainNameInfo.contact_phone}}</p>
    <button class="btn btn-default" ng-click="domainNameForm.addToWatchList()">Add to WatchList</button>
  </div>

  <div ng-show="watchListItems">
    <h2>WatchList</h2>
    <h3>Your watchlist has {{watchListItems.length}} item(s)</h3>
    <div class="well" ng-repeat="domainNameInfo in watchListItems">
      <h2>{{domainNameInfo.domain_name}}</h2>
      <p>Domain name status: {{domainNameInfo.status}}</p>
      <p ng-show="domainNameInfo.created_on">
        Created on: {{domainNameInfo.created_on}}</p>
      <p ng-show="domainNameInfo.expires_on">
        Expires on: {{domainNameInfo.expires_on}}</p>
      <p ng-show="domainNameInfo.contact_email">
        Contact email: {{domainNameInfo.contact_email}}</p>
      <p ng-show="domainNameInfo.contact_name">
        Contact name: {{domainNameInfo.contact_name}}</p>
      <p ng-show="domainNameInfo.contact_phone">
        Contact phone: {{domainNameInfo.contact_phone}}</p>
      <button class="btn btn-default" ng-click="domainNameForm.addToWatchList()">Add to WatchList</button>
    </div>
  </div>
 
</div>